<!DOCTYPE html>
<html ng-app='bookApp' ng-controller="MainController" lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEAN Web Development 中文版</title>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./libs/jquery.fullPage.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
    <div class="container-fluid">
        <ul id="menu">
            <li data-menuanchor="mean"><a>MEAN Web开发</a></li>
            <li data-menuanchor="wince"><a>Windows CE嵌入式系统开发从基础到实践</a></li>
        </ul>
        <div id="fullpage" full-page options="fpConfig">
            <div class="section" ng-repeat="book in bookInfo">
                <div class="slide book-slide" style="background-image: url({{book.bigCover}}); background-color: {{book.backgroundColor}}">
                    <div class="intro container">
                        <div id='cover-container' class="col-sm-4 col-xs-4 col-md-4 col-lg-4" class="cover">
                            <img class="imgCover" ng-if="book.cover" ng-src="{{book.cover}}" />
                        </div>
                        <div id="detail-container" class="col-sm-8 col-xs-8 col-md-8 col-lg-8" class="content">
                            <h1>{{book.name}}</h1>
                            <dl class="dl-horizontal">
                                <dt>出版时间</dt>
                                <dd ng-bind="book.publishTime"></dd>
                                <dt ng-if="book.publisher">出版方</dt>
                                <dd ng-if="book.publisher">
                                    <span ng-repeat="lnk in book.publisher">
                    <a class="links" href="{{lnk.website}}" target="_publisher">{{lnk.name}}</a>
                  </span>
                                </dd>
                                <dt ng-if="book.author">作者</dt>
                                <dd ng-if="book.author">
                                    <span ng-repeat="lnk in book.author">
                    <a ng-show="lnk.website" class="links" href="{{lnk.website}}" target="_publisher">{{lnk.name}}</a>
                    <span ng-hide="lnk.website" class="links" ng-bind="lnk.name"></span>
                                    </span>
                                </dd>
                                <dt ng-if="book.translator">译者</dt>
                                <dd ng-if="book.translator">
                                    <span ng-repeat="lnk in book.translator">
                    <a class="links" href="{{lnk.website}}" target="_publisher">{{lnk.name}}</a>
                  </span>
                                </dd>
                                <dt ng-if="book.desc">简介</dt>
                                <dd ng-if="book.desc" ng-bind="book.desc"></dd>
                                <dt ng-if="book.links">链接</dt>
                                <dd ng-if="book.links">
                                    <span ng-repeat="lnk in book.links">
                    <a class="links" href="{{lnk.website}}" target="_links">{{lnk.name}}</a>
                  </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./libs/angular-1.3.9.min.js"></script>
    <script type="text/javascript" src="./libs/jquery.fullPage.js"></script>
    <script type="text/javascript" src="./libs/angular-fullpage.js"></script>
    <script type="text/javascript" src="./script.js"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-3804589-6', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>
